// colors
$accentColor: #D41443;
$subAccentColor: #FFA5BA;
$backgroundColor: #FFB8CA;
$productsBgColor: #E5E5E5;
$articleColor: #907E82;
$reviewsBgColor: #FAFAFA;
$cafeColr: #F0D1A5;
$foodtrackColor: #C2E297;
$footerBgColor: #FFF5F6;
$footerBorderColor: #E1E1E1;
$whiteColor: #FFFFFF;
$blackColor: #000000;

// fonts
$mainFont: 'DM Sans', sans-serif;
$titleFont: 'Titan One', sans-serif;