// colors
$accentColor: #d41443;
$subAccentColor: #ffa5ba;
$backgroundColor: #ffb8ca;
$productsBgColor: #e5e5e5;
$footerBgColor: #fff5f6;
$articleColor: #907e82;
$whiteColor: #ffffff;
$blackColor: #000000;

// fonts
$mainFont: 'DM Sans', sans-serif;
$titleFont: 'Titan One', sans-serif;
