<section id="howismade" class="about">
  <div class="about__container">
    <p class="about__label">tradition and love</p>
    <h2 class="about__header">how it’s made?</h2>
    <div class="about__position">
      <picture class="about__picture">
        <source
          srcset="
            ../src/images/images2/cowmobile@1x.png 1x,
            ../src/images/images2/cowmobile@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ../src/images/images2/cowtablet@1x.png 1x,
            ../src/images/images2/cowtablet@2x.png 2x
          "
          media="(max-width: 1199px)"
        />
        <img
          class=""
          srcset="
            ../src/images/images2/cow@1x.png 1x,
            ../src/images/images2/cow@2x.png 2x
          "
          src="../src/images/images2/cow@1x.png"
          alt="Корова с молоком"
        />
      </picture>
      <div class="about__description">
        <!-- <div class="about__background-wrapper"> -->
          <p class="about__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
            cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
            justo fringilla.
          </p>
          <!-- <img
            src="./images/images2/milkmobpartleft@1x.png"
            class="milk__background__left"
          />
          <img
            src="./images/images2/milkmobright@1x.png"
            class="milk__background__right"
          /> -->
        <!-- </div> -->
        <p class="about__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>
        <button type="button" class="about__button">
          Read more
          <svg class="about__button-icon" width="4px" height="8px">
            <use href="./images/sprite/about.svg#icon-Vector"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
