
<div class="backdrop-mobile is-hidden">
  <div class="menu">
    <button class="close-modal close-btn-mobile">
      <svg class="close-icon">
        <use href="./images/sprite/modals.svg#icon-close-mobile"></use>
      </svg>
    </button>

    <!-- menu -->
    <div class="buynow-menu">
      <h2 class="menu__title">menu</h2>
      <ul class="menu__list">
        <li class="menu__item">
          <picture></picture>
          <div>
            <p class="menu__text">Ice Cream</p>
            <div>
                <div id="counter">
                  <button type="button" data-action="decrement">-1</button>
                  <span id="value">0</span>
                  <button type="button" data-action="increment">+1</button>
                </div>
            <span>5 USD</span>
          </div>
        </li>
        <li class="menu__item">
          <picture></picture>
          <div>
            <p class="menu__text">Ice Coffee</p>
                <div id="counter1">
                  <button type="button" data-action="decrement1">-1</button>
                  <span id="value1">0</span>
                  <button type="button" data-action="increment1">+1</button>
                </div>
            <span>7 USD</span>
          </div>
        </li>
        <li class="menu__item">
          <picture></picture>
          <div>
            <p class="menu__text">Milkchakes</p>
                <div id="counter2">
                  <button type="button" data-action="decrement2">-1</button>
                  <span id="value2">0</span>
                  <button type="button" data-action="increment2">+1</button>
                </div>
            <span>10 USD</span>
          </div>
        </li>
      </ul>

      <div>
      <button type="submit" class="form-submit menu__btn--margin">
        Buy <span id="value3">0</span> USD
      </button>
      
      </div>
    </div>
  </div>
</div>
