<div class="backdrop-mobile is-hidden">
  <div class="menu">
    <button class="close-modal close-btn-mobile">
      <svg class="close-icon">
        <use href="./images/sprite/modals.svg#icon-close-mobile"></use>
      </svg>
    </button>

    <!-- menu -->
    <div class="buynow-menu">
      <h2 class="menu__title">menu</h2>
      <ul class="menu__list">
        <li class="menu__item">
          <picture>
            <source
              srcset="
                ./images/basket/basket-tab-1-min.webp    1x,
                ./images/basket/basket-tab-1-2x-min.webp 2x,
                ./images/basket/basket-tab-1-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-tab-1-min.png    1x,
                ./images/basket/basket-tab-1-2x-min.png 2x,
                ./images/basket/basket-tab-1-3x-min.png 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-1-min.webp    1x,
                ./images/basket/basket-mob-1-2x-min.webp 2x,
                ./images/basket/basket-mob-1-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-1-min.png    1x,
                ./images/basket/basket-mob-1-2x-min.png 2x,
                ./images/basket/basket-mob-1-3x-min.png 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="basket__image"
              src="./images/basket/basket-mob-1-min.png"
              alt="ice-cream"
            />
          </picture>
          <div class="buynow-menu__container">
            <p class="menu__text">Ice Cream</p>
            <span class="counter-coin">5,99 USD</span>
            <div class="counter-btns" id="counter">
              <button
                type="button"
                data-action="decrement"
                class="counter-btns__item"
              >
                -1
              </button>
              <span id="value">0</span>
              <button
                type="button"
                data-action="increment"
                class="counter-btns__item"
              >
                +1
              </button>
            </div>
          </div>
        </li>
        <li class="menu__item">
          <picture>
            <source
              srcset="
                ./images/basket/basket-tab-2-min.webp    1x,
                ./images/basket/basket-tab-2-2x-min.webp 2x,
                ./images/basket/basket-tab-2-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-tab-2-min.png    1x,
                ./images/basket/basket-tab-2-2x-min.png 2x,
                ./images/basket/basket-tab-2-3x-min.png 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-2-min.webp    1x,
                ./images/basket/basket-mob-2-2x-min.webp 2x,
                ./images/basket/basket-mob-2-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-2-min.png    1x,
                ./images/basket/basket-mob-2-2x-min.png 2x,
                ./images/basket/basket-mob-2-3x-min.png 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="basket__image"
              src="./images/basket/basket-mob-2-min.png"
              alt="ice-cream"
            />
          </picture>
          <div class="buynow-menu__container">
            <p class="menu__text">Ice Coffee</p>
            <span class="counter-coin">11,99 USD</span>
            <div class="counter-btns" id="counter1">
              <button
                type="button"
                data-action="decrement1"
                class="counter-btns__item"
              >
                -1
              </button>
              <span id="value1">0</span>
              <button
                type="button"
                data-action="increment1"
                class="counter-btns__item"
              >
                +1
              </button>
            </div>
          </div>
        </li>
        <li class="menu__item">
          <picture>
            <source
              srcset="
                ./images/basket/basket-tab-3-min.webp    1x,
                ./images/basket/basket-tab-3-2x-min.webp 2x,
                ./images/basket/basket-tab-3-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-tab-3-min.png    1x,
                ./images/basket/basket-tab-3-2x-min.png 2x,
                ./images/basket/basket-tab-3-3x-min.png 3x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-3-min.webp    1x,
                ./images/basket/basket-mob-3-2x-min.webp 2x,
                ./images/basket/basket-mob-3-3x-min.webp 3x
              "
              type="image/webp"
              media="(min-width:320px)"
            />
            <source
              srcset="
                ./images/basket/basket-mob-3-min.png    1x,
                ./images/basket/basket-mob-3-2x-min.png 2x,
                ./images/basket/basket-mob-3-3x-min.png 3x
              "
              media="(min-width:320px)"
            />
            <img
              class="basket__image"
              src="./images/basket/basket-mob-1-min.png"
              alt="ice-cream"
            />
          </picture>
          <div class="buynow-menu__container">
            <p class="menu__text">Milkchakes</p>
            <span class="counter-coin">13,99 USD</span>
            <div class="counter-btns" id="counter2">
              <button
                type="button"
                data-action="decrement2"
                class="counter-btns__item"
              >
                -1
              </button>
              <span id="value2">0</span>
              <button
                type="button"
                data-action="increment2"
                class="counter-btns__item"
              >
                +1
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div>
        <button type="submit" class="form-submit menu__btn--margin">
          Buy&nbsp;<span id="value3"> 0 </span>&dollar;
        </button>
      </div>
    </div>
  </div>
</div>
