<section id="contacts" class="contacts">
  <div class="container">
    <ul class="cards__list">
      <li class="contacts-card">
        <div class="contacts__box">
          <p class="contacts__representation">CAFE</p>
          <p class="contacts__sity">Chicago</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box time">
          <p class="contacts__day">
            <time datetime="Monday - Friday"> Monday - Friday</time>
          </p>
          <p class="contacts__time">
            <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          </p>
          <p class="contacts__day">
            <time datetime="Saturday - Sunday"> Saturday - Sunday</time>
          </p>
          <p class="contacts__time">
            <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          </p>
        </div>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <div class="contacts__box">
          <p class="contacts__representation contacts__representation--green">
            FOOD TRUCK
          </p>
          <p class="contacts__sity">Los Angeles</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box time">
          <p class="contacts__day">
            <time datetime="Monday - Friday"> Monday - Friday</time>
          </p>
          <p class="contacts__time">
            <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          </p>
          <p class="contacts__day">
            <time datetime="Saturday - Sunday"> Saturday - Sunday</time>
          </p>
          <p class="contacts__time">
            <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          </p>
        </div>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-card">
        <div class="contacts__box">
          <p class="contacts__representation">CAFE</p>
          <p class="contacts__sity">New York</p>
          <p class="contacts__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
        </div>
        <div class="contacts__box time">
          <p class="contacts__day">
            <time datetime="Monday - Friday"> Monday - Friday</time>
          </p>
          <p class="contacts__time">
            <time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time>
          </p>
          <p class="contacts__day">
            <time datetime="Saturday - Sunday"> Saturday - Sunday</time>
          </p>
          <p class="contacts__time">
            <time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time>
          </p>
        </div>
        <ul class="contacts__list">
          <li class="contacts__item">
            <a class="contacts__tel" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="button__list">
      <button class="button__box" type="button">
        <a
          class="contacts__button--Locations"
          href="https://goo.gl/maps/Tbmvygc1wG4V4xW48"
          >Our Locations</a
        >
        <svg class="icon-arrow--Locations" width="4" height="8">
          <use href="./images/sprite/sprite.svg#icon-icon-Vector-1"></use>
        </svg>
      </button>

      <button class="button__box-wite open-btn-modal" type="button">
        <a class="contacts__button--Franchise" href="#">Franchise</a>
        <svg class="icon-arrow--Franchise" width="4" height="8">
          <use href="./images/sprite/sprite.svg#icon-icon-Vector-1"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
