 <div class="container">
        <h2 is hidden>Contacts</h2>
            <ul class="contakts-list">
                <li class="contakts-card">
            <p class="contacts__representation">CAFE</p>
            <p class="contacts__sity">Chicago</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__day"><time datetime="Monday - Friday"> Monday - Friday</time></p>
            <p class="contacts__time"><time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time></p>
            <p  class="contacts__day"><time datetime="Saturday - Sunday"> Saturday - Sunday</time></p>
            <p  class="contacts__time"><time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time></p>
            <a class="contacts__tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a  class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                 <li class="contakts-card">
            <p class="contacts__representation contacts__representation--green">FOOD TRUCK</p>
            <p class="contacts__sity">Los Angeles</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__day"><time datetime="Monday - Friday"> Monday - Friday</time></p>
            <p class="contacts__time"><time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time></p>
            <p class="contacts__day"><time datetime="Saturday - Sunday"> Saturday - Sunday</time></p>
            <p class="contacts__time"><time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time></p>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
                 <li class="contakts-card">
            <p class="contacts__representation">CAFE</p>
            <p class="contacts__sity">New York</p>
            <p class="contacts__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <p class="contacts__day"><time datetime="Monday - Friday"> Monday - Friday</time></p>
            <p class="contacts__time"><time datetime="06:00 AM - 10:00 PM">06:00 AM - 10:00 PM</time></p>
            <p class="contacts__day"><time datetime="Saturday - Sunday"> Saturday - Sunday</time></p>
            <p class="contacts__time"><time datetime="08:00 AM - 16:00 PM">08:00 AM - 16:00 PM</time></p>
            <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
            <a href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
            </ul>
          <a class="contacts__button" href="https://goo.gl/maps/oi3tw1Vt2Ke9C1Jb9" target="_blank">Our Locations</a>
          <svg class="" width="" height="">
            <use
              class=""
              href=""
            ></use>
          </svg>
          <a class="contacts__button" href="" target="_blank"></a>Franchise</a>
          <svg class="" width="" height="">
            <use
              class=""
              href=""
            ></use>
          </svg>
      </div>