<footer class="footer">
  <section class="section">
    <div class="container">
      <h1 class="visually-hidden">footer</h1>
      <div class="titles">
        <p class="label">homemade ice cream made</p>
        <p class="title">with passion</p>
      </div>
      <div class="footer__contacts">
        <ul class="social-links">
          <li class="social-links__item">
            <a href="" class="social-link" target="_blank">
              <svg width="32" height="32" class="social-icon">
                <use href="./images/sprite/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="" class="social-link" target="_blank">
              <svg width="32" height="32" class="social-icon">
                <use href="./images/sprite/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-links__item">
            <a href="" class="social-link" target="_blank">
              <svg width="32" height="32" class="social-icon">
                <use href="./images/sprite/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <address class="footer-address">
          <span class="footer-address__text">Feel free to contact</span>
          <a class="footer-address__tel" href="tel:+610383766"
            >+61 (0) 383 766</a
          >
        </address>
      </div>
    </div>
    <p class="copyright">© 2022 - IceCream. All Rights Reserved.</p>
  </section>
</footer>

<div id="scroll-menu3">
  <a class="button-up" href="#home" aria-label="button-up">
    <svg class="button-up__icon" width="32" height="32">
      <use href="./images/sprite/modals.svg#icon-circle-up"></use>
    </svg>
  </a>
</div>
