<div class="gallery">
    <h2 class="gallery__h">gallery</h2>
    <ul class="gallery__grid">
        <li class="gallery_photo photo1"></li>
        <li class="gallery_photo photo2"></li>
        <li class="gallery_photo photo3"></li>
        <li class="gallery_photo photo4"></li>
        <li class="gallery_photo photo5"></li>
        <li class="gallery_photo photo6"></li>
        <li class="gallery_photo photo7"></li>
        <li class="gallery_photo photo8"></li>
        <li class="gallery_photo photo9"></li>
        <li class="gallery_photo photo10"></li>

    </ul>
</div>