<div class="gallery">
    <h2 class="gallery__h">gallery</h2>
    <ul class="gallery__grid">
        <li class="gallery__photo photo1">
            <img srcset="/src/images/gallery-images/img1_43.59х43.86_mb_@2x.jpg" src="/src/images/gallery-images/img1_43.59х43.86_mb.jpg" alt="фотка мороженки">
        </li>
        <li class="gallery_photo photo2">
            <picture class="gallery__photo--picture">
            <source>
            <img srcset="/src/images/gallery-images/img2_43.59х43.86_mb_@2x.jpg 2x" src="/src/images/gallery-images/img2_43.59х43.86_mb.jpg" alt="Фотка мороженного">
            </picture>
        </li>
        <li class="gallery__photo photo3"></li>
        <li class="gallery__photo photo4"></li>
        <li class="gallery__photo photo5"></li>
        <li class="gallery__photo photo6"></li>
        <li class="gallery__photo photo7"></li>
        <li class="gallery__photo photo8"></li>
        <li class="gallery__photo photo9"></li>
        <li class="gallery__photo photo10"></li>

    </ul>
</div>