
    <section class="products">
        <div class="container">
            <p class="products__text">100% natural</p>
            <h2 class="products__title">products</h2>
            <ul class="products__list">
                <li class="products__list-item">
                    <div class="product__list-card">
                        <h3 class="product__list-card-title">ice cream</h3>
                    </div>
                </li>
                <li class="products__list-item"></li>
                <li class="products__list-item"></li>
            </ul>
        </div>
    </section>
    
