<section id="products"
    class="products">
    <div
        class="container">
        <p
            class="products__text">
            100%
            natural
        </p>
        <h2
            class="products__title">
            products
        </h2>
        <ul
            class="products__list">
            <li
                class="products__list-item">
                <div
                    class="product__list-card product__list-card-ice-cream">
                    <img class="product__img"
                        src="./images/products/home-pic1.png"
                        alt="пломбир"
                        width="280">
                    <h3
                        class="product__list-card-title product__list-card-title-ice-cream">
                        ice
                        cream
                    </h3>
                    <p
                        class="product__list-card-text">
                        Lorem
                        ipsum
                        dolor
                        sit
                        amet,
                        consectetur
                        adipiscing
                        elit,
                        sed
                        do
                        eiusmod
                        tempor
                        incididunt
                        ut
                        labore
                        et.
                        dolore
                        magna
                        aliqua
                        facilisis.
                    </p>
                    <button
                        type="button"
                        class="product__list-card-btn">
                        <svg class="product__svg"
                            width="20"
                            height="20">
                            <use
                                href="./images/sprite/sprite.svg#right-arrow1">
                            </use>
                        </svg>
                    </button>
                </div>
            </li>
            <li
                class="products__list-item">
                <div
                    class="product__list-card product__list-card-ice-coffe">
                    <img class="product__img"
                        src="./images/products/home-pic2.png"
                        alt="пломбир"
                        width="">
                    <h3
                        class="product__list-card-title">
                        ice
                        coffee
                    </h3>
                    <p
                        class="product__list-card-text">
                        Lorem
                        ipsum
                        dolor
                        sit
                        amet,
                        consectetur
                        adipiscing
                        elit,
                        sed
                        do
                        eiusmod
                        tempor
                        incididunt
                        ut
                        labore
                        et.
                        dolore
                        magna
                        aliqua
                        facilisis.
                    </p>
                    <button
                        type="button"
                        class="product__list-card-btn">
                        <svg class="product__svg"
                            width="20"
                            height="20">
                            <use
                                href="./images/sprite/sprite.svg#right-arrow1">
                            </use>
                        </svg>
                    </button>
            </li>
            <li
                class="products__list-item">
                <div
                    class="product__list-card product__list-card-milkshakes">
                    <img class="product__img"
                        src="./images/products/home-pic3.png"
                        alt="пломбир"
                        width="">
                    <h3
                        class="product__list-card-title">
                        milkshakes
                    </h3>
                    <p
                        class="product__list-card-text">
                        Lorem
                        ipsum
                        dolor
                        sit
                        amet,
                        consectetur
                        adipiscing
                        elit,
                        sed
                        do
                        eiusmod
                        tempor
                        incididunt
                        ut
                        labore
                        et.
                        dolore
                        magna
                        aliqua
                        facilisis.
                    </p>
                    <button
                        type="button"
                        class="product__list-card-btn">
                        <svg class="product__svg"
                            width="20"
                            height="20">
                            <use
                                href="./images/sprite/sprite.svg#right-arrow1">
                            </use>
                        </svg>
                    </button>
            </li>
        </ul>
    </div>
</section>
