@keyframes Appearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}
@keyframes swing {
    0% {
        transform: rotate(6deg);
    }

    4% {
        transform: rotate(-6deg);
    }

    8% {
        transform: rotate(3deg);
    }

    12% {
        transform: rotate(-3deg);
    }

    16% {
        transform: rotate(0);
    }
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes header {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}