/* ===== моб меню =====*/
.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__link {
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;

    &:hover,
    &:focus {
      color: #d41443;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item {
    letter-spacing: 0.02em;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    border-top: 1px solid #e18298;
    padding: 13px 0;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

.is-open {
  opacity: 999;
  visibility: visible;
  pointer-events: auto;
}

.close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover &__icon,
  &:focus &__icon {
    fill: var(--blue-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 19px;
    height: 19px;
    fill: #ffffff;
    &:hover,
    &:focus {
      fill: #d41443;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.mobile-menu__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 25px;
  background-color: #e17992;
}

.header-button--mob {
  width: 209px;
  height: 44px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  margin-top: 26px;
}

.mobile-menu__site-nav {
  margin-top: 32px;
}

.active-mobile {
  color: #d41443;
}
