/* ===== моб меню =====*/
.mobile-menu {
  position: fixed;
  z-index: 9100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__link {
    display: block;
    width: 100%;
    color: #ffffff;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.28;
    padding: 13px 20px;
    cursor: pointer;

    &:hover,
    &:focus {
      color: #d41443;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 52px;
    letter-spacing: 0.02em;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.18;
    border-top: 1px solid #e18298;

    &:last-child {
      border-bottom: 1px solid #e18298;
    }
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.close-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  &:hover &__icon,
  &:focus &__icon {
    fill: #d41443;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 19px;
    height: 19px;
    fill: #ffffff;
    &:hover,
    &:focus {
      fill: #d41443;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
.mobile-menu__container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 48px 0px;
  background-color: #e17992;
}

.header-button--mob {
  width: 209px;
  height: 44px;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 0 auto;
  margin-top: 26px;
}

.mobile-menu__site-nav {
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.active-mobile {
  color: #d41443;
}

.button-up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 5;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  fill: #d41443;
  background-color: #ffb8ca;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    width: 50%;
    top: 0;
    right: 0;
    left: auto;
  }

  .mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144, 126, 130, 0.6);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    overflow-y: scroll;
    transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
      visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 9099;
  }

  .mobile-backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}
