:root {
  --ligth-pink-color: #ffa5ba;
  --dark-pinl-color: #d41443;
  --secondary-text-color: #000000;
  --primary-text-color: #907e82;
  --about-bg-color: #fff5f6;
}

.about__container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.about {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: var(--about-bg-color);

  @media screen and (max-width: 767.9px) {
    background-image: url('../images/images2/milkmob@1x.png');
    background-repeat: no-repeat;
    background-size: calc(100% - 40px);
    background-position: left 20px  top 596px;
  }

    @media screen and (min-width: 346px) {
      background-position: left 20px top 554px;
    }
}

.about__label {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-align: center;
  text-transform: uppercase;
  color: var(--ligth-pink-color);
  margin-top: 0;
  margin-bottom: 15px;
}

.about__header {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--dark-pinl-color);
  margin-bottom: 32px;
}

.about img {
  width: 100%;
}

.about__text {
  /* font-family: "DM Sans"; */
  width: 81%;
  // padding-right: 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 40px;

&:first-child {
  color: var(--secondary-text-color);
}

&:nth-child(2) {
  margin-bottom: 10px;
}

&:last-child {
  margin-bottom: 0;
}

 @media screen and (min-width: 480px) and (max-width:767.9px) {
   width: 220px;
  
 }

 @media screen and (min-width: 768px) {
   width: 334px;
   font-size: 14px;
   line-height: 1.78;
 }
}

.about__picture {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
      width: auto;
      height: 279px;
      display: block;
  }
}

.about__position{
  @media screen and (min-width: 480px) and (max-width: 767.9px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

}

.about__description{
  @media screen and (max-width: 768px) {
      padding-top: 40px;
  }
}

.about__button {
  margin-top: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  width: 176px;
  height: 44px;
  background: var(--primary-white-color);
  border-radius: 22px;
  cursor: pointer;
  // width: 176px;
  // line-height: 44px;
  // font-size: 14px;
  background-color: #fff;
  color: var(--dark-pinl-color);
  border: none;
  
}

.about__button-icon{
  margin-left: 13px;
}

  

