.contacts {
  padding-bottom: 40px;

  background: linear-gradient(
    to top,
    #fff5f6 78.1%,
    #ffffff 78.1%,
    #ffffff 100%
  );

  @media screen and (min-width: 768px) {
    background: linear-gradient(to top, #fff5f6 58%, #ffffff 58%, #ffffff 100%);
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 120px;
    background: linear-gradient(to top, #fff5f6 86%, #ffffff 86%, #ffffff 100%);
  }

  & .container {
    padding-bottom: 40px;
  }
}

.cards__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 21px;
  }
  @media screen and (min-width: 1200px) {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts-card {
  background-color: #fff;
  padding: 40px 32px;
  max-width: 281px;

  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 767.98px) {
    margin-right: 32px;
    &:last-child {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 767.98px) {
    margin-bottom: 21px;
    margin-left: auto;
    margin-right: auto;
  }
}
.contacts__box {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 24px;
  &.time {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.contacts__representation {
  width: max-content;

  font-family: 'DM Sans', sans-serif;
  margin-bottom: 20px;
  padding: 0 16px;
  border-radius: 24px;
  background-color: #f0d1a5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.04em;

  color: #ffffff;
  &--green {
    background-color: #c2e297;
  }
}

.contacts__sity {
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;

  letter-spacing: 0.04em;
}

.contacts__text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

.contacts__day {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;

  color: #000000;
}
.contacts__time {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }

  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #ffa5ba;
}

.contacts__list {
  display: block;

  padding-top: 24px;
}
.contacts__tel {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  color: #907e82;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}
.contacts__mail {
  font-family: 'DM Sans', sans-serif;
  color: #907e82;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
}

.button__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
}

.button__box {
  border: none;
  position: relative;
  margin-right: 12px;

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 10px;
  }

  background-color: #d41342;
  min-width: 180px;
  border-radius: 22px;
  padding: 8px 35px;

  text-align: center;

  transition: box-shadow 250ms ease-in;

  &:hover,
  &:focus {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}

.button__box-wite {
  border: none;
  position: relative;
  background-color: #fff;
  color: #d41443;
  margin-bottom: 0;
  text-align: center;
  min-width: 180px;
  border-radius: 22px;
  padding: 8px 35px;

  transition: box-shadow 250ms ease-in;

  &:hover,
  &:focus {
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  @media screen and (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 20px;
  }
}
.contacts__button--Locations {
  font-family: 'DM Sans', sans-serif;
  color: #ffffff;

  font-weight: 700;
  font-size: 16px;

  line-height: 1.3;
}

.contacts__button--Franchise {
  font-family: 'DM Sans', sans-serif;
  color: #d41443;
}

.icon-arrow--Locations {
  position: absolute;
  // top: 9px;
  right: 10px;

  fill: #ffffff;
  width: 20px;
  height: 25px;
}

.icon-arrow--Franchise {
  position: absolute;
  right: 25px;
  top: 6px;

  fill: currentColor;
  width: 20px;
  height: 25px;
}
