.customer-reviews {
  text-align: center;
}

.customer-reviews__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}

.customer-reviews__slider {
  position: relative;

  width: 280px;

  padding: 43px 58px 26px 65px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;

  background-color: #fafafa;

  //   background-image: repeating-linear-gradient(
  //     #fafafa,
  //     #fafafa 30px,
  //     #e1e1e1 30px,
  //     #e1e1e1 31px
  //   );
}

.customer-reviews__gradient {
  //   content: '';

  width: 180px;
  //   margin-top: 74px;

  background-image: repeating-linear-gradient(
    #fafafa,
    #fafafa 30px,
    #e1e1e1 30px,
    #e1e1e1 33px
  );
}

.customer-reviews__quotes {
  position: absolute;
  top: 30;
  left: 53;

  fill: red;
}

.customer-reviews__text-review {
  position: relative;

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;

  text-align: center;

  color: #000000;

  &::before {
    position: absolute;
    top: -13px;
    left: -13px;

    content: '';
    display: inline-block;

    width: 54px;
    height: 40px;
    background-image: url(../images/customer-reviews/quotes.png);
    // background-image: url(../images/sprite/sprite.svg#quotes);
    // fill: #E1E1E1;
  }
}

.customer-reviews__three-dots {
  fill: #d31342;
  margin-top: 0;
  margin-bottom: 16px;
}

.customer-reviews__name {
  //   text-align: center;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  /* or 26px */

  color: #000000;
}
.customer-reviews__marker {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 60px;
}

.customer-reviews__item:not(:last-child) {
  margin-right: 12px;
}

.customer-reviews__home {
  fill: #d31342;
}

.customer-reviews__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;

  background-color: #d9d9d9;
}
