
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.footer {
    background-color: $footerBgColor;

    & .container {
        // width: 100%;
        // max-width: 1200px;
        // margin: 0 auto;
        border-bottom: 1px solid #E1E1E1;

        @media screen and (max-width: 767px) {
            padding: 0 20px;
        }        
    
        @media screen and (min-width: 768px) {
            width: 768px;
            display: flex;
            justify-content: space-between;
        }
    
        @media screen and (min-width: 1200px) {
            width: 1200px;
        }
    }

    & .titles {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            max-width: 472px;
        }
    }

    & .label {
        font-family: $titleFont;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.17;
        text-transform: uppercase;
        margin-bottom: 16px;
        color: $subAccentColor;
        max-width: 232px;

        @media screen and (min-width: 1200px) {
            max-width: 472px;
        }
    }

    & .title {
        font-family: $titleFont;
        font-size: 34px;
        line-height: 1.15;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-bottom: 40px;
        color: $accentColor;
        max-width: 200px;

        @media screen and (min-width: 1200px) {
            max-width: 472px;
        }
    }

    &__contacts {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: flex-end;

            @media screen and (min-width: 1200px) {
                max-width: 319px;
            }
        }
    }
}

.social-links {
    display: flex;
    justify-content: end;
    margin-bottom: 40px;
}

.social-links .social-links__item+.social-links__item {
    margin-left: 28px;
}

.social-icon {
    border-radius: 50%;
    fill: $subAccentColor;
    transition: fill, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accentColor;
        box-shadow: 1px 1px 2px 2px #00000040;
    }
}

.footer-address {
    font-style: normal;
    text-align: right;
    font-weight: 700;
    font-size: 12px;
    line-height: 186%;
    padding-bottom: 40px;
    margin-bottom: 16px;

    &__tel {
        color: $accentColor;
        transition: color, text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: $subAccentColor;
            text-shadow: 1px 1px 2px 2px #00000040;
        }
    }
}

.copyright {
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    color: $articleColor;

    @media screen and (max-width: 767px) {
        max-width: 150px;
        margin: 16px auto 0px;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        width: 100%;
        line-height: 186%;
        letter-spacing: 0.02em;
        margin: 0 auto;
        padding: 7px 0;
    }
}