body, h1, h2, h3, h4, h5, h6, p, ul, ol{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
}

// ----------------------------


  .container{
    width: 320px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .products{
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .products__text{
    text-align: center;
    margin-bottom: 15px;
    color: #FFA5BA;
    font-size: 18px;
    line-height: 1.15;

    font-weight: 400;
  }

  .products__title{
    color: #D41443;
        font-size: 34px;
        line-height: 1.15;
    text-align: center;
    margin-bottom: 5px;
  }

  .product__list-card{
    text-align: center;
    padding: 160px 40px 40px 40px;    
    border-radius: 24px;
    
  }

  .product__list-card-title{
    margin-bottom: 32px;
    
  }

  .icon-group{
    margin-bottom: 32px;
  }

  .product__list-card-text{
    margin-bottom: 32px;
  }

  .ice-cream{
   background-color: #FFB8CA;

  }

  .ice-coffee{
    background-color: #F0D1A5;
  }

  .milkshakes{
    background-color: #C2E297;
  }

  .products__list-item{
    margin-bottom: 130px;
    &:last-child{
        margin-bottom: 0;
    }
  }

  .products__list-item-icecream{
    width: 280px;
    height: 280px;
    
  }

  

  